<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
  <log4net>
    <logger name="BraveMVCLog">
      <!--<level value="Error" />-->
      <level value="All" />
      <appender-ref ref="Log_RollingFileAppender_BraveMVCLog" />
    </logger>
    <logger name="BraveAPILog">
      <!--<level value="Error" />-->
      <level value="All" />
      <appender-ref ref="Log_RollingFileAppender_BraveAPILog" />
    </logger>
    <appender name="Log_RollingFileAppender_BraveMVCLog" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<file value="~\Logs\BraveMVCLog\" />-->
      <file type="log4net.Util.PatternString" value="%property{LogFileNameMVC}" />
      <datepattern value="dddd'.log'" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%-5level] - %message%newline" />
      </layout>
    </appender>
    <appender name="Log_RollingFileAppender_BraveAPILog" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<file value="~\Logs\BraveAPILog\" />-->
      <file type="log4net.Util.PatternString" value="%property{LogFileNameAPI}" />
      <datepattern value="dddd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%-5level] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>